body {
  font-family: 'Work Sans', sans-serif;
}

.sections {
  background-color: rgb(209, 209, 209);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
}

img {
  height: 200px;
}

.textarea {
  width: 70%;
}